

@import "../common.scss";

body {
  margin: 0;
  padding: 0;
}

#App {
  font-family: monospace;
  font-size: 16px;
  color: black; 
  background-color: #fafafa; 

  & > .mainPanal {
    padding: 8px;
    background-color: white;  

    & > .volume {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-column-gap: 10px;
      margin-top: 10px;

      & > input[type="range"] {
        &:focus {
          outline: none;
        }
      }
      
      & > .NumericInput {
        text-align: center;
        font-size: 0.9em;
      }
    }
  }

}


