

@import "../common.scss";

body {
  margin: 0;
  padding: 0;
}

#App {
  font-family: monospace;
  font-size: 16px;
  color: black; 
  background-color: #fafafa; 


  & > .SpeedControl {
    padding: 8px;
    background-color: white;
  }
}


