
.EqualizerControl {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--text-color);

  & > .controls > button.levelup {
    outline: 1px solid var(--header-icon-active-color);
    & > svg {
      transform: scale(1.15);
    }
  }
  
  & > .preset {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;

    select {
      width: inherit;
    }
  }
}