
.FxPanal {
  padding: 10px;
  display: grid;
  grid-row-gap: 10px;
  font-size: 14px;
  width: 300px;

  & > .card {
    font-size: 13px;
  }

  & > .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

    & > button {
      border: 1px solid #aaa;
      border-radius: 5px 5px 0px 0px;
      background-color: #eee;

      &.active {
        border-bottom: 1px solid #fafafa;
        background-color: #fafafa;
      }

      &.enabled {
        text-transform: uppercase;
      }

      &:focus {
        outline: 1px solid var(--focus-color);
      }
    }
  }

  & > .controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    grid-gap: 10px;
  }

  & > .query {
    display: grid;
    grid-row-gap: 5px;
  }
}