.MainPanel {
  & > .volume {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 10px;

    & input[type="text"] {
      text-align: center;
    }

    & > input[type="range"] {
      &:focus {
        outline: none;
      }
    }
  }
}