
.MediaView {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  
  &:nth-child(2) {
    margin-top: 16px;
  }

  & > .header {
    font-size: 0.85em;
    margin-left: 5px;
    margin-bottom: 1px;
  }

  & > .controls {
    display: grid;
    grid-template-columns: repeat(4, max-content) 1fr repeat(3, max-content);
    align-items: center;
    grid-column-gap: 5px; 

    & > input[type="range"] {
      min-width: 0;
    }

    & > button {
      background-color: transparent;
      color: var(--header-icon-color);
      border-color: transparent;
  
      &.active {
        color: var(--header-icon-active-color);
      }
      &.muted {
        color: var(--header-icon-muted-color);
      }
  
      &:hover  {
        background-color: var(--control-hover-bg-color);
      }
      &:focus {
        border-color: 1px solid var(--focus-color);
      }
    }
  
    & > .duration {
      font-size: 0.9em;
      margin-right: 8px;
      justify-self: end;
    }
  }

}