:root.noBottomBorderMediaItem {
  .MediaView {
    &:last-child {
      border-bottom: none !important;
    }
  }
}

.MediaViews {
  padding-left: 5px;
  user-select: none;
}

.MediaView {
  padding: 10px 5px;
  border-top: 1px solid var(--border);

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    /* margin-top: 16px; */
    border-bottom: 1px solid var(--border);
  }

  &>.header {
    margin-bottom: 2px;
    overflow-wrap: anywhere;

    &>.meta {
      font-size: 0.85em;
      opacity: 0.55;

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    &>.jump {
      border: none;
      padding: 0px 5px;
      margin: 0px;
      border-radius: 5px;
      transform: scale(1.2) translateY(-2px);
      margin-left: 5px;
      opacity: 0.7;

      &:hover {
        background-color: var(--bg-color);
        opacity: 1;
      }

      &>svg {
        opacity: 1;
      }
    }

    &>.title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &>.controls {
    display: grid;
    grid-template-columns: repeat(4, max-content) 1fr repeat(3, max-content);
    align-items: center;
    grid-column-gap: 5px;

    &>input[type="range"] {
      min-width: 0;
    }

    &>button {
      background-color: transparent;
      color: var(--icon-color);
      border-color: transparent;

      &:first-child {
        margin-left: -5px;
      }

      &.active {
        color: var(--icon-vibrant-color);
      }

      &.muted {
        color: var(--icon-muted-color);
      }

      &:hover {
        background-color: var(--control-hover-bg-color);
      }

      &:focus {
        border: 1px solid var(--focus-color);
      }
    }

    &>.duration {
      font-size: 0.9em;
      margin-right: 8px;
      justify-self: end;
    }
  }

}
