
@import "../_fonts.scss";
@import "../_common.scss";


body {
  margin: 0;
  padding: 0;
  background-color: var(--fg-color);
}

#SuperDisable {
  padding: 10px;
  background-color: #fafafa; 
  color: #666; 
  cursor: pointer;
}

#App {
  & > .panel {
    width: 300px;
    padding: 8px;
    min-height: 150px;
  }
}
