
:root.darkTheme .QrPromo {
    display: none;
}

.QrPromo {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    column-gap: 7px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
    user-select: none;

    & > div {

        & .top {
            font-size: 14px;
        }

        & .bottom {
            font-size: 18px;
            font-weight: bold;
            color: var(--success-color);
        }
    }

    & > img {
        cursor: pointer; 
    }

    & > button {
        line-height: 0;
    }
}
