.ReverseButton {
  font-size: 1.3em;
  width: 100%;
  padding: 5px;
  border-width: 3px;

  &.recording {
    border-color: var(--error-border-color);
    border-style: solid;
    background-color: var(--error-color);
    color: var(--error-border-color);
  }

  &.playing {
    border-color: var(--success-color);
    border-style: solid;
    background-color: var(--success-bg-color);
    color: var(--success-color);
  }
}
