
.SpeedControl {
  user-select: none;

  & > .options {
    display: grid; 
    grid-template-columns: repeat(3, 80px);
    justify-items: center;
    grid-gap: 3px;
  
    & > div {
      width: 100%;
      text-align: center;
      
      &:focus {
        outline: 1px solid var(--focus-color);
      }
  
      &.selected {
        background-color: #24a;
        color: white;
      }
    }
  
  }
  
  & > .NumericControl {
    margin-top: 10px;
    width: 248px;

    button, input[type="text"] {
      padding: 0;
    }
  }
}