
.SpeedControl {
  user-select: none;
  font-family: Courier, "IBM Plex Mono", monospace;
  font-size: 1.1em;
  background-color: var(--fg-color);  

  & > .options {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 3px;
  
    & > div {
      width: 100%;
      text-align: center;
      
      &:focus {
        outline: 1px solid var(--focus-color);
      }
  
      &.selected {
        background-color: var(--speed-focus-bg-color);
        color: var(--speed-focus-text-color);
      }
    }
  
  }
  
  & > .NumericControl {
    margin-top: 15px;

    button, input[type="text"] {
      padding: 0;
    }
  }
}