
.SpeedControl {
  user-select: none;
  font-size: 1.1em;
  background-color: var(--fg-color);  
  --padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-bottom: 0px;

  & > .options {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 3px;
  
    & > button {
      width: 75%;
      text-align: center;
      border: none;
      padding: var(--padding) 0px;
      
      &:focus {
        outline: 1px solid var(--focus-color);
      }
  
      &.selected {
        background-color: var(--speed-focus-bg-color);
        color: var(--speed-focus-text-color);
        border-radius: 3px;
        /* font-weight: bold; */
      }
    }
  
  }
  
  & .pause-site-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  & .pause-site-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
  }

  & .pause-site-button button:hover {
    background-color: #555;
  }
  
  & > .NumericControl {
    margin-top: 15px;

    button, input[type="text"] {
      padding: var(--padding) 0px !important;
    }
  }

  & > .slider {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center; 
    margin-top: 15px;
    column-gap: 5px; 

    & > svg {
      color: var(--header-icon-color);
      opacity: 0.5;

      &.active {
        opacity: 1;
        color: var(--header-icon-active-color);
      }
    }
  }
}


.NumericControl {
  display: grid;
  grid-template-columns: repeat(2, 50fr) 64fr repeat(2, 50fr);
  column-gap: 5px;
  align-items: stretch;

  & > button {
    font-size: 0.75em;
  }

  & > button, & input[type="text"] {
    padding: none;
    text-align: center;
  }

  & > .NumericInput > input[type="text"] {
    padding: 2px 0;
  }

  & > .NumericInput {
    font-size: 0.9em;
  }
}