:is(div:popover-open, div.popoverOpenYah) {
    background-color: transparent;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    user-select: none;
    touch-action: none;
    margin: 0px;
    border: none;
    transition: 300ms ease-in opacity;

    .circle, .ref, .delete {
        position: fixed; 
        border-radius: 50%;
        box-sizing: border-box;
        user-select: none; 
        transition: transform 50ms ease-out, border-color 100ms ease-out, opacity 100ms ease-out;
    }

    .circle, .ref {
        background-color: white;
    }

    .delete {
        background-color: black;
        color: white;
        left: calc(50vw - 30px);
        top: calc(50vh + 60px);
        display: none;
        width: 60px;
        height: 60px;
        overflow: hidden;
        font-size: 30px;
        padding: 20px 0;
        text-align: center;
        opacity: 0.75;
    }

    .circle {
        background-color: white;
        pointer-events: all;
        border: 5px solid white;
        z-index: 3;
    }

    .ref {
        pointer-events: none;
        display: none;
        z-index: 2;
    }
}