
.CommandWarningBody {
    
    button {
        margin-left: 10px;
        color: var(--text-color);
        background-color: var(--adjust-color);

        span {
            margin-left: 5px;
        }
    }

    code {
        margin-left: 5px;
        cursor: default;
    }
}