
.KeyBindControl {
  display: grid;
  grid-template-columns: repeat(2, max-content) minmax(200px, 1.5fr) 150px repeat(2, max-content) 200px repeat(2, max-content);
  grid-column-gap: 10px;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;

  &.disabled {
    opacity: 0.75;
    border-color: #7f7f7f;
  }

  &.spacing {
    margin-bottom: 25px;
  }
  &.doubleSpacing {
    margin-bottom: 40px;
  }

  


  & .icon {
    color: #aaa;
    padding: 0;
    background-color: inherit;
    border: none;

    &:hover {
      color: #666;
    }

    &:focus {
      outline: 1px solid var(--focus-color);
    }
  }

  
  
  & > .move {
    display: grid;
  }


  & > .close:hover {
    color: #d55;
  }

  & > button:nth-child(3) {
    margin-left: -5px;
  }

  & > .command {

    & > .name {
      display: flex;
      align-items: center;

      & > svg {
        margin-left: 10px;
        color: #24a;
      }

      & > .Tooltip {
        margin-left: 10px;
      }
    }

    & > .support {
      margin-top: 5px; 
      display: flex;
      & > *:nth-child(1n+2) {
        margin-left: 3px;
      }
    }
  }

}