
@import "../common.scss";

h2 {
  margin-top: 40px;
}


body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

#root {
  @media only screen and (min-width: 900px) {
    display: grid;
    justify-content: center;
  }
}

.App {
  margin: 0px;
  background-color: #fcfcfc;
  padding: 20px;
  font-family: monospace;
  font-size: 14px;
  min-width: 700px;
  max-width: 900px;

  & > h2:first-child {
    margin-top: 0;
  }

  .labelWithTooltip {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    grid-column-gap: 10px;
  }

  .keyBindControls {

    & > div {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  & > div:last-child {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
  }

  & > .add {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: stretch;
    grid-column-gap: 10px;

    & > button {
      border-radius: 5px;
    }
  }

  & > .fields {
    margin-top: 20px;
    
    & > div {
      display: grid;
      grid-template-columns: 200px max-content;
      grid-column-gap: 10px;
      margin-bottom: 10px;
      align-items: center;
    }
  }

}