
select, input, select {
  font-size: inherit;
  font-family: inherit;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;

  &:focus {
    outline: 1px solid rgb(12, 12, 12);
  }
}

button {
  background-color: white;
  color: black;
  padding: 8px;

  &:focus {
    outline: 1px solid black;
  }

  &:active {
    background-color: #eee;
  }
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #aaa;
  text-align: center;

  &:focus {
    outline: 0;
  }
}

.NumericInput.invalid {
  background-color: #fee;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  justify-content: center;
  margin-top: 100px;
}



.App {
  background-color: white;
  padding: 100px 0;
  font-family: monospace;
  font-size: 14px;
  padding: 25px;

  & > h1 {
    margin-top: 0;
  }

  & > .field {
    display: grid;
    grid-template-columns: 250px 300px;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    & > input[type="checkbox"] {
      justify-self: center;
    }
  }
}