
#RateOverlay {
  position: fixed;
  display: inline-block;
  left: 0;
  top: 100px;
  background-color: white;
  padding: 0px 10px 10px 10px;
  font-size: 2em;
  border-radius: 0px 10px 10px;

  & > svg {
    color: #888; 

    &.active {
      color: orange;
    }
  }
}

