
.SectionEditor {
  & > .keybindControls {
    margin-top: 20px;
  }
  
  & > .controls {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    justify-items: right;
    align-items: stretch;
    grid-column-gap: 10px;

    & > button {
      border-radius: 5px;
    }
  }
} 