
.SectionHelp {
  & > .card {
    margin-bottom: 30px;
  }

  & > .controls {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    column-gap: 10px; 
    justify-items: right;

    & > button {
      text-transform: uppercase;
    }

    & > .right {
      display: grid;
      grid-template-columns: max-content max-content max-content max-content;
      column-gap: 5px;

      & > *:nth-child(3) {
        margin-left: 15px;
      }
    }
  }
}
