
.SectionEditor {

  & > .header {
    display: grid;
    margin-bottom: 25px;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 15px;


    & > div:first-child {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-column-gap: 10px;
      
      & > div {
        width: 2px;
        background-color: var(--icon-vibrant-color);
        transform: rotateZ(20deg) scaleY(1.3);
      }
    }

    .modeSpan {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      & > svg {
        margin-left: 8px;
        transform: scale(1.2);
        margin-right: 5px;
      }
    }
  }


  & > .keybindControls {
    margin-top: 20px;

    &, & > .KeybindControl > .label  {
      user-select: none;
      cursor: ns-resize;
    }

    & > .KeybindControl, & > .KeybindControl > .label > span {
      user-select: text;
      cursor: auto;
    }
  }
  
  & > .controls {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    justify-items: right;
    align-items: stretch;
    grid-column-gap: 10px;
  }
} 