
.SectionEditor {

  & > .keybindControls {
    margin-top: 20px;

    &, & > .KeybindControl > .label  {
      user-select: none;
      cursor: ns-resize;
    }

    & > .KeybindControl, & > .KeybindControl > .label > span {
      user-select: text;
      cursor: auto;
    }
  }
  
  & > .controls {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    justify-items: right;
    align-items: stretch;
    grid-column-gap: 10px;
  }
} 