.ShortcutWarning {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--tip-bg-color);
	border: 1px solid var(--border-weak);
	border-radius: var(--radius-sm);
	font-size: 1.1em;

	& > svg {
		margin-right: 10px;
		transform: scale(1.4) translateY(-1px);
	}

	& > .link {
		border-bottom: 2px solid var(--text-color-opaque);
		cursor: pointer;
		transition: opacity 0.15s ease;

		&:hover {
			opacity: 0.65;
		}
	}
}

.ShortcutWarningModal img {
	border: 5px solid white;
}
