

.SectionFlags .presetControl {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-size: 0.95em;
  margin-bottom: 15px;

  
  & > .NumericInput {
    width: 60px;

    &.wide {
      width: 130px;
      grid-column: auto / span 2;
    }

    &.preset input {
      padding: var(--padding) 0px;
    }
    
    input {
      text-align: center;
    }
  }
}

