.SpeedPresetModal {
	width: 400px;
	--field-name-width: 150px;

	& > button.reset {
		font-size: 1.14rem;
	}

	.presetControl {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		gap: 10px;
		font-size: 0.95em;
		margin-bottom: 15px;

		& > .NumericInput {
			width: 60px;

			input {
				padding: var(--padding) 0px;
			}
		}
	}
}
