.URLModal {
	scrollbar-width: thin;
	scrollbar-color: var(--bg-color) var(--fg-color);

	& > .header {
		display: grid;
		grid-template-columns: 1fr max-content;

		& > div:first-child {
			font-size: 1.3em;
		}

		margin-bottom: 10px;
	}

	& > .subHeader {
		opacity: 0.5;
		font-style: italic;
		font-size: 1.1em;
		margin-top: -10px;
		margin-bottom: 15px;
		translate: -2px 0px;
	}

	& > .parts {
		margin-bottom: 20px;

		& > div {
			margin-bottom: 15px;
			display: grid;
			grid-template-columns: max-content max-content 1fr max-content;
			column-gap: 10px;
			align-items: center;
		}
	}

	& > .controls {
		display: grid;
		grid-template-columns: max-content max-content;
		column-gap: 10px;
	}
}
