
.FloatTooltip {
  position: absolute;
  left: -80px; 
  right: -80px; 
  bottom: 40px;
  font-size: 0.9em;
  display: grid;
  justify-content: center;
  
  & > div {
    display: inline-block; 
    padding: 5px;
    background-color: var(--error-border-color);
    color: var(--pure-color);
  }
}
