.KeyPicker {
  padding: 5px; 
  background-color: var(--fg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  text-align: center;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--focus-color);
  }
}