.KeyPicker {
  padding: 5px; 
  background-color: inherit;
  border: 1px solid #aaa;
  color: inherit;
  text-align: center;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--focus-color);
  }

  &:active {
    background-color: darken(#aaa, 10%)
  }
}