.LimitedNumericControl {
  --selected-filter: brightness(0.9);

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  user-select: none;

  & > button {
    padding: 5px 10px;
    opacity: 0.5;

    &.selected {
      filter: var(--selected-filter);
      opacity: 1;
    }
  }
}

:root.darkTheme {
  .LimitedNumericControl {
    --selected-filter: brightness(1.3);
  }
}