.Menu {
	position: fixed;
	z-index: 99999999;
	user-select: none;
	background-color: var(--fg-color-opp);
	color: var(--text-color-opp);
	border-color: var(--text-color-opp);
	border-radius: var(--radius);
	border: 2px solid var(--border);

	& > div {
		display: grid;
		grid-template-columns: 20px auto;
		padding: 5px 10px;
		border-bottom: 1px solid var(--border);
		padding-right: 20px;
		opacity: 0.85;
		line-height: 1.5;

		&:hover {
			opacity: 1;
		}
	}

	.RegularTooltip {
		margin-left: 10px;
		background-color: inherit;
		color: inherit;
		border-color: inherit;
	}
}
