
.NumericControl {
  display: grid;
  grid-template-columns: repeat(2, 50px) 1fr repeat(2, 50px);
  grid-column-gap: 5px;
  align-items: stretch;

  & > button {
    font-size: 0.75em;
  }

  & > button, & input[type="text"] {
    padding: none;
    text-align: center;
  }

  & > .NumericInput > input[type="text"] {
    padding: 2px 0;
  }

  & > .NumericInput {
    font-size: 0.9em;

    & > input {
      text-align: center;
    }
  }
}