.RegularTooltip {
	user-select: none;
	padding: 0px 4px;
	background-color: var(--fg-color);
	color: var(--text-color);
	border: 1px solid var(--border);
	border-radius: var(--radius);
	cursor: pointer;
	opacity: 0.75;

	&:hover {
		opacity: 1;
	}
}
