
.SegmentedButtons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  user-select: none;

  & > button {
    padding: 5px 10px;
    opacity: 0.5;

    &.selected {
      filter: brightness(0.9);
      opacity: 1;
    }
  }
}

:root.darkTheme {
  .SegmentedButtons > button.selected {
    filter: brightness(1.3);
  }
}
