.SegmentedButtons {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	user-select: none;

	& > button {
		padding: 5px 10px;
		opacity: 0.5;
		border-radius: 0;

		&.selected {
			filter: brightness(0.9);
			opacity: 1;
		}

		&:first-child {
			border-radius: var(--radius) 0 0 var(--radius);
		}

		&:last-child {
			border-radius: 0 var(--radius) var(--radius) 0;
		}
	}
}

:root.darkTheme {
	.SegmentedButtons > button.selected {
		filter: brightness(1.3);
	}
}
