
.Tooltip {
    display: inline-block;

    & > .tip {
        line-height: normal !important;
        pointer-events: none;
        position: fixed;
        display: none;
        background-color: var(--text-color);
        border: 1px solid var(--pure-color);
        color: var(--pure-color);
        padding: 10px;
        white-space: break-spaces;
        border-radius: 5px;
        opacity: 0.85;
        z-index: 9999999999999;
        overflow-wrap: break-word;
        font-size: 1rem;
        user-select: none;
    }

}