
.Tooltip {
  display: inline-block;
  
  & > span {
    user-select: none;
    padding: 0px 2px;
    background-color: var(--fg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &:focus {
      border-color: var(--focus-color);
      outline: none;
    }
  }

  & > .ModalBase > .fg {
    position: fixed;
    display: inline-block;
    background-color: var(--fg-color);
    color: var(--text-color);
    padding: 10px;
    filter: invert(1);
  }
}