
:root {
  --focus-color: blue; 
}

* {
  box-sizing: border-box;
}

button, input, select, textarea {
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 1px solid var(--focus-color);
  }
}

button, input[type="text"] {
  background-color: white;
  color: black;
  border: 1px solid #aaa; 
  padding: 5px; 

  &:focus {
    border: 1px solid var(--focus-color);
    outline: none;
  }

  &.red {
    background-color: #fee;
    border: 1px solid currentColor;
    color: #a20;

    &:focus {
      outline: none;
      border: 1px solid var(--focus-color);
    }
  }

  &.blue {
    background-color: #eef;
    border: 1px solid currentColor;
    color: #02a;
    --focus-color: black;

    &:focus {
      outline: 1px solid var(--focus-color);
    }
  }
}

button {
  cursor: pointer; 

  &:active {
    background-color: #eee;
  }

  &.red:active {
    background-color: #cbb;
  }

  &.blue:active {
    background-color: #bbc;
  }

  &.large {
    font-size: 1.2em;
    padding: 7px;
  }
}

code {
  background-color: #eee;
  padding: 3px;
}


a, a:visited {
  color: #02a; 
  text-decoration: none;
  &:hover {
    color: #46c;
    text-decoration: underline;
  }
}

svg {
  vertical-align: middle;
}

.card {
  padding: 10px;
  background-color: #eef;
  display: inline-block;
  font-size: 1.1em;
  line-height: 2;

  &.red {
    background-color: #fee;
    border: 1px solid currentColor;
    color: #a20;

    code {
      border: 1px solid #a20;
    }
  }
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}